.report-container {
    margin: 10px;
    display: inline-block;
    width: 98%
}

.report-toolbar {
    padding: 5px;
    border: solid #ddd 1px;
    border-width: 0px 0px 1px 0px;
}

.report-page-separate {
    page-break-after: always;
}

.report-body {
    /*height: 600px;*/
    overflow: auto;
    background-color: #D5E7F5;
    text-align: center;
    padding: 10px;
    background-image: url(/Content/images/report-backgroud.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.report-page-separate {
    margin: 5px;
}

.report-info {
    float: right;
}

.toolbar-group {
    margin-right: 10px;
}

.extend-toolbar {
    display: inline-block;
}

.fill-page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.page-number-info {
    background-color: #f4f4f4;
    color: #444;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border-width: 1px 0px 1px 0px;
}

    .page-number-info.disabled {
        color: #aaa;
    }

.page-number-info-btn-xs {
    height: 22px;
    border-radius: 0px;
    line-height: 22px;
    padding: 0px 2px 0px 2px;
    font-size: 10px;
}